<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library DBMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">

</head>
<body>
    <header>
        <h1>Library Database Management System</h1>
    </header>
    <main>
        <section>
            <h2>Options</h2>
            <ul>
                <li><a href="{{ url_for('display_books') }}" class="home-button">View all books</a></li>
                <li><a href="{{ url_for('display_books_by_author') }}" class="home-button">Filter books by author</a></li>
                <li><a href="{{ url_for('display_books_by_genre') }}" class="home-button">Filter books by genre</a></li>
                <li><a href="{{ url_for('add_user') }}" class="home-button">Add new user</a></li>
                <li><a href="{{ url_for('display_users') }}" class="home-button">View all users</a></li>
                <li><a href="{{ url_for('borrow_book') }}" class="home-button">Borrow</a></li>
            </ul>
        </section>
    </main>
</body>
</html>